<h1><%= @p1.name %> vs. <%= @p2.name %></h1>
<h2><%= @p2.name %> has <%= @p2.points %> points</h2>
<h3><%= @p1.name %> has <%= @p1.points %> points</h3>
<h4>It's <%=@p1.name%>'s turn.</h4>

<form action= "/attack">
  <div class="button">
    <input type="submit" value="Attack!" />
</form>
